@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-light;
    @apply subpixel-antialiased;
  }

  nav li {
    @apply p-4;
    @apply cursor-pointer;
    @apply font-medium;
  }
}

@layer utilities {
  .card {
    @apply container;
    @apply flex;
    @apply justify-center;
    @apply items-end;
    @apply mx-auto;
  }

  .services-card-img {
    @apply bg-no-repeat;
    @apply bg-cover;
    @apply bg-center;
    @apply h-[300px];
    @apply rounded-lg;
    @apply shadow-2xl;
  }

  .card-title {
    @apply uppercase;
    @apply text-base;
    @apply bg-gray-200;
    @apply w-full p-3;
    @apply justify-start flex;
    @apply rounded-b-lg;
    @apply shadow-lg;
  }

  .contact-item {
    @apply p-8;
    @apply flex flex-col;
    @apply justify-center items-center;
    @apply bg-gray-50;
    @apply rounded-lg;
    @apply drop-shadow-2xl;
    @apply shadow-xl;
  }

  .contact-item-title {
    @apply font-bold text-base uppercase;
    @apply pt-4 sm:pt-8 pb-2 md:pb-10;
  }

  .contact-text {
  }
}

.services-image-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, .7),
      rgba(255, 255, 255, .7)
    ),
    url("/photos/services_background.png"); 
  background-size: cover;
  background-position: center;
}

.contact-image-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, .7),
      rgba(255, 255, 255, .7)
    ),
    url("/photos/contact_background.png"); 
  background-size: cover;
  background-position: center;
}
